{% extends 'base.html.twig' %}

{% block title %}Magasin {% endblock %}

{% block body %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/shop.css') }}">
{% endblock %}

<div class="row d-flex flex-column align-items-center ">
    <div class="allShopTitle d-flex flex-column align-items-center py-0 px-5">
        <h1 class="generalStyle "py-5"">CONCEPT OPTIQUE {{ shop.name|capitalize }}</h1>
    </div>

    <div class="store col-md-12 col-lg-10 col-xl-8 pb-5">
        <div class="row">
            <div class="storeImg col-7 d-flex justify-start">
                <img src="{{ asset('/img/'~shop.imageName|e) }}" alt="Devanture du magasin {{ shop.name }}">
            </div>
            <div class="card border-primary offset-1 col-4">
                <div class="card-header">{{shop.name|capitalize}}</div>
                <ul class="card-body">
                    <li class="describe">Adresse:</li>
                    <li class="card-title">{{shop.address|capitalize}}</li>
                    </br>
                    <li class="describe">Téléphone:</li>
                    {% set phone = shop.phoneNumber|split('',2)%}
                    {% set phone = phone|join('/') %}
                    <li class="card-text">{{phone}}</li>
                    <a class="" href="/pages/jimmy-fairly-annecy">
                        Contactez-nous
                    </a>
                </ul>
                <div class="card-footer">
                    <p>Google Map</p>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sectionFootShop" class="footShop p-5" >
        <div class="">
            <div class="d-flex col-12 row">
                <div class="col-4">
                    <div class="row">
                        <div class="offset-3 col-9 mb-5">Opticien agréé</div>
                        <div class="footShopImg col-3">
                            <i class="float-right fas fa-glasses"></i>
                        </div>
                        <div class="col-9">
                            <div class="">
                                <p>Nous sommes agréés depuis 10 ans par la Sécurité Sociale et votre mutuelle.</p>
                            </div>
                        </div>
                    </div>     
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="offset-3 col-9 mb-5">9,6 clients sur 10 nous recommandent</div>
                        <div class="footShopImg col-3">
                            <i class="float-right far fa-smile"></i>
                        </div>
                        <div class="col-9">
                            <div class="">
                                <p>Service client disponible 6j/7. Livraison et retours 30j gratuits. Garantie Jimmy Fairly 1 an.</p>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="offset-3 col-9 mb-5">Atelier en France</div>
                        <div class="footShopImg col-3">
                            <i class="float-right fas fa-microscope"></i>
                        </div>
                        <div class="col-9">
                            <div class="">
                                <p>Nos verres et montures sont contrôlés et assemblés dans notre Atelier en Île-de-France..</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
